.logo{
    color: #00fff0;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
};

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

