*{
    padding: 0;
    margin: 0;
     box-sizing: border-box; 
     font-family: "Poppins",sans-serif;
 
}
/* *:not(i){
    font-family: "Poppins",sans-serif;
} */
body{
    background:  #000000; 
    color: #fff;
}

  #header{
background-color:bisque;
/* width: 100%;
height: 100vh;
background-image: url(../img/syd-wachs-slItfWbhijc-unsplash.jpg);
background-size: cover;
background-position: center; */
/* background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(waldemar-brandt-U3Ptj3jafX8-unsplash.jpg); */
  }
.container-1{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;

}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: "";
    width:0;
    height:3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
  width: 100%;

}

/* header-text*/
.header-text{
    margin-top: 7%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top:10px;
}
.header-text h1 span{
    color: #ff004f;
}
img{
    position: absolute;
width: 287px;
height: 319px;
left: 0px;
top: 550px;


}
/* About Us */
h3 .about{
    color: #000;
    
}
.container-2{
    background-color: bisque;
    width:100vmin;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 55%;
    left: 50%;
    bottom: 60%;
    padding: 30px;
    border-radius: 10px;
    /* box-shadow: 0 20px 40px rgba(38, 33, 61,0.2 ); */


}
#about{
    background-color: bisque;
    padding: 70px 0;
    color: black;

}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;

}
.about-col-1 img{
    position: absolute;
    width: 287px;
    height: 200px;
    left: 0px;
    top: 100px;
     /* position: absolute;
    width: 500px;
    height: 319px;
    left: 0px;
    top: 142px; */
    
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}

/* Contact section*/
.contact-left{
    flex-basis: 35%;
    background-color: bisque;
    

}
.contact-right{
    flex-basis: 35%;
    background-color: bisque;
}

     
/* Dictionary styling */



.container{
    background-color: #ffffff;
    width:80vmin;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 39%;
    left: 60%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(38, 33, 61,0.2 );
}
.search-box{
    width:100%;
    display: flex;
    justify-content: space-between;
}
.search-box input{
    padding: 5px;
    width:70%;
    border:none;
    outline: none;
    border-bottom:3px solid #ae9cff;
    font-size: 16px;

}
.search-box button{
padding:15px 0;
width:25%;
background-color: #ae9cff;
border:none;
outline: none;
color:#ffffff;
border-radius: 5px;
}
.result{
    position: relative;
}
.result h3{
 font-size: 30px;
 color:#1f194c;

}
.result .word{
   display: flex;
   justify-content: space-between;
   margin-top: 80px;
}
.result button{
    background-color: transparent;
    color:#ae9cff;
    border:none;
    outline: none;
    font-size: 18px;
}
.result .details{
    display: flex;
    gap: 10px;
    color:#b3b6d4;
    margin: 5px 0 20px 0;
    font-size: 14px;
}
.word-meaning{
    color:#575a7b;
}
.word-example{
    font-style: italic;
    border-left:5px solid #ae9cff;
    padding-left:20px;
    margin-top: 30px;

}
.error{
    margin-top: 80px;
    text-align: center;
}



.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    
};


ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    color: black;
    text-decoration: none;
    font-family:Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: teal;
}

/*Home section*/



